extends ../layouts/default

block head
  title Drywall is Running

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='/views/mainPage.css')

block body

  div(id='loader')
    span S
    span I
    span G
    span N
    span
    span I
    span N

  div.text-center
    a.btn.btn-primary.btn-lg(href='/login/') &nbsp;&nbsp;&nbsp;Sign In&nbsp;&nbsp;&nbsp;
    |  or&nbsp;
    a.btn.btn-warning.btn-lg(href='/login/forgot/') Reset Your Password
  div.clearfix
