extends ../../../../layouts/admin

block head
	title Manage <name>

block neck
	//- I'm not displaying

block feet
	script(src='/views/admin/services/docsService.js')
	script(src='/views/admin/drywall/doc/index.js')

block body
	div(ng-controller="DocCtrl")
		#header
		#insertion
		#filters
		#results-table
		#results-paging
		
		div.page-header
			h1 <something>
		
		form.nav-stacked.pagination-centered
			div.input-group
				input.col-md-4.col-md-offset-1(name='userName', type='text', placeholder='user Name', value='', ng-model='userName')
				input.col-md-4.col-md-offset-1(name='email', type='text', placeholder='email (RM)', value='', ng-model='email')
				button.btn.btn-info.btn-add(type='button', ng-click='addNew()') Add New
		
		form.filters
			div.row
				div.col-md-4
					label userName Search
					input.stretch(name='userName', type='text', ng-model='filters.userName')
				div.col-md-4
					label Sort By
					select.stretch(name='sort', ng-model='filters.sort')
						option(value='userName') userName &#9650;
						option(value='-userName') userName &#9660;
				div.col-md-4
					label Limit
					select.stretch(name='limit', ng-model='filters.limit')
						option(value='2') 2 items
						option(value='10') 10 items
						option(value='20', selected='selected') 20 items
						option(value='50') 50 items
						option(value='100') 100 items
		
		table.table.table-striped(ng-if='results.length>0')
			thead
				tr
					th 
					th userName
					th email
			tbody#results-rows
				tr(ng-repeat='doc in results')
					td
						input.btn.btn-details(type='button', value='Edit', ng-if='!doc.details', ng-click='edit()')
						input.btn.btn-primary(type='button', value='Save', ng-if='doc.details', ng-click='save()')
						input.btn.btn-danger(type='button', value='Remove', ng-if='doc.details', ng-click='delete()')
						input.btn.btn-info(type='button', value='Cancel', ng-if='doc.details', ng-click='close()')
					td 
						div(ng-if='!doc.details') {{doc.userName}}
						.edit(ng-if='doc.details')
							h3 Details

							table.table-hover
								thead
									tr
										th
										th
								tbody
									tr
										td
											strong userName Name
										td
											input(type='text', placeholder='User Name', ng-model='doc.details.userName')
									tr
										td
											strong email
										td
											input(type='text', placeholder='News Subscription', ng-model='doc.details.email')
									

					td
						div(ng-if='!doc.details') {{doc.email}}
		
		h2(ng-if='results.length==0') no documents matched
		
		div.well
			span Page {{pages.current}} of {{pages.total}} | Results {{items.begin}} - {{items.end}} of {{items.total}}
			span.btn-group.pull-right
				button.btn.btn-page.btn-prev(data-page!='{{pages.prev}}', ng-click='previousPage()', ng-class='{disabled: !pages.hasPrev}') Prev
				button.btn.btn-page.btn-next(data-page!='{{pages.next}}', ng-click='nextPage()', ng-class='{disabled: !pages.hasNext}') Next
			div.clear
		